[Unit]
Description=rCUDA daemon

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/cuda/targets/x86_64-linux/lib
WorkingDirectory=/usr/local/rcuda/bin
ExecStart=/usr/local/rcuda/bin/rcuda-server.sh

[Install]
WantedBy=multi-user.target
